//公共颜色
$white: #ffffff;
$FF3F2B: #ff3f2b;
$FFBC2B: #ffbc2b;
$BBBBBB: #bbbbbb;

// 字体颜色
$COL333: #333333;
$COL999: #999999;

//背景颜色
$bg0d5: #fff0d5;
$bgecec: #ececec;
$bgD6D6: #d7d6d6;
//激活样式、
$hover7d2: #5497d2;
